* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(/source/images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bird {
    height: 100px;
    width: 160px;
    position: fixed;
    top: 40vh;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 100;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-image: url(/source/images/obstacle.png);
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 250;
    top: calc(50% - 5cm);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}


.message img {
    margin-top: 280px;
    width: 200px;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 5vh;
    font-weight: 100;
    color: white;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    top: 5px;
    left: 10px;
}

.score_val {
    color: white;
}

.game-over-popup {
    position: fixed;
    border-radius: 12px;
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 425px;
    padding: 20px;
    background-color: rgba(100, 100, 100, 0.9); /* Semi-transparent dark background */
    border: 3px solid white;
    color: #f06292;
    text-align: center;
    font-family: 'Public Pixel', sans-serif;
    z-index: 1000;
    display: none; /* Hidden by default, shown only on Game Over */
    box-shadow: 0px 0px 15px 5px #000;
    
}

.game-over-popup h1 {
    margin-top: 15px;
    font-size: 55px;
    text-align: center;
    color: #FB6F2D;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.score-display {
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    color: #862FE0;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.buttons {
    margin-top: 15px;
}

.buttons button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4E4E4E;
    color: white;
    border-radius: 12px;
    border: 2px solid #000000;
    cursor: pointer;
    width: 150px;
    height: 85px;
}

.buttons button:hover {
    background-color: #555;
}

.leaderboard-popup {
    position: fixed;
    border-radius: 12px;
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 425px;
    padding: 20px;
    background-color: rgba(100, 100, 100, 0.9); /* Semi-transparent dark background */
    border: 3px solid white;
    color: #862FE0;
    font-family: 'Public Pixel', sans-serif;
    z-index: 1000;
    display: none; /* Hidden by default, shown only on Game Over */
    box-shadow: 0px 0px 15px 5px #000;
}

.leaderboard-popup h1 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color: #FB6F2D;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
    margin-bottom: 15px; /* Ruimte onder de titel */
}

.leaderboard-display span {
    margin-bottom: 5px; /* Ruimte tussen de items */
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.leaderboard-display span:nth-child(1) {
    font-weight: bold; /* Maak de rang vetgedrukt */
}

.lbscore {
    color: #fff; /* Witte scorekleur */
    text-align: right;
    font-family: 'Public Pixel', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.pause-popup {
    position: fixed;
    border-radius: 12px;
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 425px;
    padding: 20px;
    background-color: rgba(100, 100, 100, 0.9); /* Semi-transparent dark background */
    border: 3px solid white;
    color: #862FE0;
    font-family: 'Public Pixel', sans-serif;
    z-index: 1000;
    display: none; /* Hidden by default, shown only on Game Over */
    box-shadow: 0px 0px 15px 5px #000;
}
